In [1]:
import pymysql

In [2]:
company = ["TSLA", "GOOGLE", "BING"]
title = ["Tesla Model 3, awesome", "Alphabet news comming", "Bing china search engine"]
href = ["www.tesla.com", "www.google.com", "www.bing.com"]
source = ["Yahoo Finance", "Google News", "Google News"]
date = ["2021-08-21", "2021-08-20", "2021-08-22"]
score = [18, 88, 38]

In [3]:
db = pymysql.connect(user = "root", database = "spidder")
cur = db.cursor()

for i in range(len(company)):
    sql = 'INSERT INTO baidunews(company, title, href, source, date, score) VALUES (%s, %s, %s, %s, %s, %s)'
    cur.execute(sql, (company[i], title[i], href[i], source[i], date[i], score[i]))
    db.commit()

In [4]:
cur.execute('DELETE FROM baidunews WHERE company="TSLA"')
db.commit()

In [6]:
cur.execute("DROP TABLE baidunews")

0

In [7]:
cur.execute("CREATE TABLE baidunews (company TEXT, title TEXT, href TEXT, source TEXT, date DATE, score INT )")

0