In [6]:
import tushare as ts
ts.set_token('ede104e665d8b97db81e1a26a284c7bf82426ae1cfffd3a6a298ead8')
pro = ts.pro_api()
df = pro.daily(ts_code='000002.SZ', start_date='2018-01-01', end_date='2019-01-31')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000002.SZ,20181228,23.67,24.24,23.67,23.82,23.44,0.38,1.6212,322810.93,772703.701
1,000002.SZ,20181227,24.25,24.56,23.44,23.44,23.80,-0.36,-1.5126,352501.78,849242.338
2,000002.SZ,20181226,23.84,23.98,23.58,23.80,23.97,-0.17,-0.7092,221987.26,528530.965
3,000002.SZ,20181225,23.42,24.22,23.38,23.97,23.88,0.09,0.3769,426901.26,1016225.858
4,000002.SZ,20181224,23.92,24.08,23.33,23.88,24.25,-0.37,-1.5258,493219.42,1164770.722
...,...,...,...,...,...,...,...,...,...,...,...
238,000002.SZ,20180108,35.11,36.96,35.11,35.99,34.76,1.23,3.5400,830783.59,2994515.871
239,000002.SZ,20180105,32.98,35.88,32.80,34.76,33.12,1.64,4.9500,843101.96,2916787.871
240,000002.SZ,20180104,32.76,33.53,32.10,33.12,32.33,0.79,2.4400,529085.80,1740602.533
241,000002.SZ,20180103,32.50,33.78,32.23,32.33,32.56,-0.23,-0.7100,646870.20,2130249.691
242,000002.SZ,20180102,31.45,32.99,31.45,32.56,31.06,1.50,4.8300,683433.50,2218502.766